.splitter {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	flex: 1 1 auto;
}

.splitter.vertical {
	flex-direction: column;
}

.splitter .divider {
	flex: 0 0 auto;
	/* overwritten with DIVIDER_SIZE in Splitter.jsx */
	width: 7px;
	height: 100%;
	cursor: col-resize;
	background: transparent;
	padding: 0 3px;
}

.splitter .divider > :first-child {
	background: #ccc;
	height: 100%;
	width: 100%;
}

.splitter.vertical .divider {
	cursor: row-resize;
	/* overwritten with DIVIDER_SIZE in Splitter.jsx */
	height: 7px;
	width: 100%;
	padding: 3px 0;
}

.splitter .divider > first-child:hover {
	background: #bbbbbb;
}

.splitter .divider.resizing > first-child {
	background: #999;
}

.splitter .pane {
	flex: 0 0 auto;
	overflow: auto;
	display: flex;
}

.splitter .pane:first-child {
	flex: 1 1 auto;
}
